.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    animation: fadeIn 1s ease-out;
  }
  
.logo {
    width: 60px;
    height: auto;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s;
}
  
.logo:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 40px rgba(255, 255, 255, 0.2);
}