<div class="header-with-logo">
  <img src="https://sdmntprsouthcentralus.oaiusercontent.com/files/00000000-fd0c-61f7-bead-b5605cb50f89/raw?se=2025-04-25T07%3A23%3A26Z&sp=r&sv=2024-08-04&sr=b&scid=3ca42655-35a4-5f86-b725-a69c641d262f&skoid=e4438ed3-2a6f-4fd3-bf63-222012dc627c&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-04-25T00%3A06%3A29Z&ske=2025-04-26T00%3A06%3A29Z&sks=b&skv=2024-08-04&sig=LVRf6sEhXmck9EBlzOHQhx69lPjjJL%2BKWnEXAQrsnkY%3D" alt="Chatter Logo" class="logo" />
  <h1>Welcome to your home page!</h1>
</div>

<nav>
  <button (click)="goToProfile()">Go to Profile</button>
  <button (click)="goToChats()">Go to Chats</button>
</nav>